/**
 * MacOS X like theme for elFinder.
 * Required jquery ui "smoothness" theme.
 *
 * @author Dmitry (dio) Levashov
 **/

/* dialogs */
.std42-dialog, .std42-dialog .ui-widget-content { background-color:#ededed; background-image:none; background-clip: content-box; }

/* navbar */
.elfinder .elfinder-navbar { background:#dde4eb; }
.elfinder-navbar .ui-state-hover  { background:transparent; border-color:transparent; }
.elfinder-navbar .ui-state-active { background: #3875d7;    border-color:#3875d7; color:#fff; }
.elfinder-navbar .elfinder-droppable-active {background:#A7C6E5 !important;}
/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active { background: #dadada; border-color:#aaa; color:#fff; }


/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover { background:#ccc; }

/* list view*/
.elfinder-cwd table thead td.ui-state-hover { background:#ddd; }
.elfinder-cwd table tr:nth-child(odd) { background-color:#edf3fe; }
.elfinder-cwd table tr {
	border: 1px solid transparent;
	border-top:1px solid #fff;
}

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover { background: #3875d7; color:#fff;}
/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.elfinder .elfinder-statusbar { color:#555; }
.elfinder .elfinder-statusbar a { text-decoration:none; color:#555;}


.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover { background: #3875d7; color:#fff; }
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow { background-image:url('../img/arrows-active.png'); }


.search-export{background-color:#364150;
line-height: 34px;
padding: 0px 8px;
margin: 0 10px;
color: #fff;
text-transform: capitalize;}
.search-export:hover,.btn-back:hover{color: #fff;
background-color: #3b9c96;
border-color: #307f7a;text-decoration: none;}
.label-show{line-height:30px;}
.view-details-signup li {
    list-style: none;
    line-height: 30px;padding: 0 14px;
}
.view-details-signup li:nth-child(odd){background-color:#f7f7f7;}
.view-details-signup li span:first-child{padding-right: 10px;
min-width: 112px;
display: inline-block;}
.view-details-signup {
    width: 500px;
background-color: rgb(255, 255, 255);
margin: 0px auto;
border-radius: 6px !important;
padding: 0px;
}
.title-head{text-align: center;
font-size: 15px;
background-color: rgb(51, 51, 51) !important;
color: rgb(255, 255, 255);
min-height: 36px;
line-height: 36px !important;}
.btn-back{background: #364150;
line-height: 34px;
padding: 0px 34px;
margin: 20px 10px;
color: #fff;
text-transform: capitalize;
float: right;
margin-right: 21%;}
.file-option{min-height: 48px;}
.csv-format{background-color: #d8d8cd; text-align:center;
color: rgb(0, 0, 0);
font-size: 14px;
padding: 10px;}
.csv-format i{font-size: 16px;}
.btn-csv:hover{text-decoration: none;}

.form-control.btn {
    background-color: #444 !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 18px !important;
}
.form-control.btn:hover{background-color:#357ebd!important;}
.upload-file {margin: 0 auto;width:716px;margin-top: 24%;}



