/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
/*.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
    background-size: 125px;
}*/

.app-icon img { 
    max-width:180px; 
}

.social-login {
    position: fixed;
    bottom: 0;
}

.hairline { height:3px; background: #e6797e; margin: 0 1.2em; }
.home-login {  padding:1.5em 0}
.home-login .item-input { padding:6px 16px;  min-height:inherit }
.home-login input { font-size:20px; text-align: center; color:#e6797e; height:inherit; line-height: 62px; padding:0; transform:scale(1.8) }

.home-login ::-webkit-input-placeholder {color:rgba(237, 28, 36, 0.6); opacity: 1;}
.home-login :-moz-placeholder {color: rgba(237, 28, 36, 0.6); }
.home-login ::-moz-placeholder {color: rgba(237, 28, 36, 0.6);}
.home-login :-ms-input-placeholder {color:rgba(237, 28, 36, 0.6);}

.button-login {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: inherit;
    padding: 15px 30px 0;
}

.list.lessons {}
.list.lessons i { color:#aeaeb0; font-size:16px; }
.list.lessons a { position: relative; }
.list.lessons a:before { content: ''; height:1px; width: 96%; bottom:0; left:0; right:0; margin:0 auto; position: absolute; background: #e6797e; }


.search { background-color: #ed1c24 }
.search label { border-radius:30px; background: rgba(255, 255, 255, 0.30); }
.search input { color:#fff;}
.search ::-webkit-input-placeholder {color:#fff; opacity: 1;}
.search :-moz-placeholder {color: #fff;   opacity: 1;}
.search ::-moz-placeholder {color: #fff; opacity: 1; }
.search :-ms-input-placeholder {color:#fff;   opacity: 1;}
.search i { color:#fff; font-weight:bold; transform: scale(1.5); position:relative; top:-2px;}
.placeholder-icon {  padding: 4px 4px 0px 2px; }

[data-width="full"] { width:100%; }
[data-width="half"] { width:75%; }
[data-width="quarter"] { width:50%; }
[data-width="semi-quarter"] { width:25%; }

.nav-ui-bg { background-color: #ed1c24; padding-top:44px;}
.custom-nav { padding-left:1em}
.custom-nav .item{ border-bottom:1px solid #ddd; color:#fffbf3; text-transform:capitalize; font-size:18px}
.custom-nav .item:last-child { border-color: transparent }
.custom-nav [icon-direction="left"] { }
.custom-nav [icon-direction="right"] {  font-size:16px; color:rgba(0, 0, 0, 0.3);}
.custom-nav .icon-lessons:before { content: ''; background: url(../img/icons/icon-lessons.png) no-repeat; background-size:28px; height:32px;}
.custom-nav .icon-document:before { content: ''; background: url(../img/icons/icon-document.png) no-repeat; background-size:28px; height:32px;}
.custom-nav .icon-form:before { content: ''; background: url(../img/icons/icon-form.png) no-repeat; background-size:28px; height:32px;}
.custom-nav .icon-webinars:before { content: ''; background: url(../img/icons/icon-webinars.png) no-repeat; background-size:28px; height:32px;}
.custom-nav .icon-blog:before { content: ''; background: url(../img/icons/icon-blog.png) no-repeat; background-size:28px; height:32px;}
.custom-nav .icon-sticker:before { content: ''; background: url(../img/icons/icon-sticker.png) no-repeat; background-size:28px; height:32px;}
.custom-nav .icon-logout:before { content: ''; background: url(../img/icons/icon-logout.png) no-repeat; background-size:28px; height:32px;}

.lessons-view .item h2 { color:#ed1c24; font-weight:bold; font-size:1.6em; padding-bottom:1em}
.lessons-view .item b { color: #ed1c24; }
.lessons-view .item-text-wrap { line-height: 1.6em;}
.lessons-view .item img { margin:1.6em 0; box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.26);}
.lessons-view { margin:0.8em;}
.lessons-view ol > li { color:#333333; font-weight:bold; line-height:2em; padding-left:2.0em; position:relative}
.lessons-view ol > li:before { content:''; position:absolute; left:.8em; width:8px; height:8px; background-color:#ed1c24; top:.8em; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%;}







